// out: ./css/style.css, compress: true, sourceMap: false, autoprefixer: last 5 versions, groupmedia: true
@import url('https://fonts.googleapis.com/css?family=Lato');
$font-family-primary: Lato, sans-serif;
$break-large: 768px;
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: $font-family-primary
}
.menusection {
    display: flex;
}

.logo {

    a {
    display: flex;
    justify-content: flex-start;
    flex: 1;
    }
}
nav{
    justify-content: flex-end;
ul {
    list-style: none;
    display: flex;
}
li {
    flex-basis: 100%;
}
a {
    display: block;
    font-size: 1.5rem;
    background-color: darkslategray;
    color: azure;
    font-family: $font-family-primary;
    text-decoration: none;
    padding: 1.5rem;
    margin: 0.5rem;
    &:hover, 
    {
background-color: dimgrey;
    }
    text-align: center;
    
}
}
.carousel {
    padding: 20px;
    margin: 20px;
}
.carouselTwo {
    width: 400;
	height: 250;
	border: 3px solid blue;
	margin: 0 auto;
	overflow: hidden;
    ul {
        display: flex;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
}
.carousel img {
	width: 400;
	height: 250;
}


@media screen and (max-width: $break-large) {
    .menusection {
        flex-direction: column;
    }
    .logo {
        a{
        justify-content: center;
        }
    }
    ul {
        flex-direction: column;
    }
  }


